* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*variables*/
:root {
    --main-border: 31.08px;
}


body {
    background: #F3F5FB;
}


.logo {
    margin: 41px 0 60px 0;
}

/* start navigation style */
.navigation {
    width: 100% !important;
    height: 100%;
    border-radius: var(--main-border);
    box-sizing: initial;
    border-left: 5px solid #0F296D;
    background: #0F296D;
    transition: width .5s;
    overflow: hidden;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    padding: 0 0 0 5px;
    width: 100%;
    height: 100%;
    padding-bottom: 31.08px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: var(--main-border);
    border-bottom-left-radius: var(--main-border);
    margin: 20px 0;
}

.navigation ul li.active {
    background-color: #F3F5FB;
}


.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -31.08px;
    height: var(--main-border);
    width: 100%;
    background-color: #F3F5FB;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: var(--main-border);
    background-color: #0F296D;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -31.08px;
    height: var(--main-border);
    width: 100%;
    background-color: #F3F5FB;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: var(--main-border);
    background-color: #0F296D;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    z-index: 1;
    height: 64.31px;
    align-items: center;
    padding-left: 26.04px;
}

.navigation ul li.active a {
    color: #0F296D;
}

.navigation ul li a .icon {
    /* position: relative; */
    /* display: block; */
    /* min-height: 60px; */
    /* line-height: 70px; */
    text-align: center;
    /* font-size: 1.5em; */
    width: 20.16px;
    height: 20.16px;
}

.navigation ul li a .title {
    position: relative;
    /* display: block; */
    padding-left: 10px;
    /* height: 60px; */
    /* line-height: 60px; */
    /* white-space: normal; */
    font-style: normal;
    font-weight: bold;
    font-size: 15.12px;
    margin-top: 3px;
}


/* end navigation style */

/*start header style*/
.main-header {
    border-radius: 0 0 var(--main-border) var(--main-border);
    background: white;
    margin-left: 10px;
}

.main-header span.title {
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 25px;
    color: #0F296D;
    width: 170.52px;
    height: 25.2px;
    margin-top: 27.72px;
    margin-left: 17.6px;
}

/* end header style */


/* start widget component style */
.widget {
    background: white;
    border-radius: var(--main-border);
    display: flex;
    align-items: center;
}

.widget .widget-icon {
    width: 80px;
    height: 80px;
    background: radial-gradient(124.37% 124.37% at 116.88% -8.13%, #375DBE 2.5%, #102A6D 93.23%, rgb(16, 42, 109) 100%);
    filter: drop-shadow(0px 4px 21px rgba(16, 42, 109, 0.29));
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5px;
    margin: 35px;
    position: relative;
}

.widget .widget-icon::after {
    content: "";
    position: absolute;
    right: -35px;
    width: 1px;
    height: 64.68px;
    background: #E5E5E5;
}

.widget > .widget-content {
    height: fit-content;
    margin: 35px;
}

.widget > .widget-content > h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #000000;
    margin-bottom: 0;
}

.widget > .widget-content > h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}


.widget > .widget-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.widget > .widget-head span.widget-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16.8px;
    line-height: 25px;
    color: #393D54;
}

.widget > .widget-head span.widget-info {
    font-style: normal;
    font-weight: 500;
    font-size: 13.44px;
    line-height: 20px;
    color: #999999;
}

.widget-content .item {
    width: 117.6px;
    background: #F9F9F9;
    border-radius: 8.4px;
    margin: 10px;
    text-align: center;
}

.widget-content .item h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 20.16px;
    padding-top: 25.2px;
    color: #0F296D;
}

.widget-content .item h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 11.76px;
    line-height: 18px;
    color: #393D54;
}


.today-status {
    background: #F9F9F9;
    border-left: 20.16px solid #F1554C;
    border-radius: 8.4px;
    margin-left: 0;
    width: 100%;
    height: 93.24px;
}

.today-status h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 20.16px;
    color: #0F296D;
    margin-bottom: 5px;
}

.today-status h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 11.76px;
    color: #393D54;
    margin: 0;
}

.today-status .status-label {
    font-style: normal;
    font-weight: 600;
    font-size: 16.8px;
    line-height: 25px;
    color: #393D54;
}

/* end widget style */


/* start menu */
.nav-active {
    background-color: #F3F5FB !important;
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
}